
		.productListcontainer .capacity-col {
			padding-top: 1rem;
			margin-top: 0px;
		}
		li.numb span:hover {
			background-color: #C3C3C3;
		}
		
		#nextbtn span:hover, #prevbtn span:hover {
			text-decoration: underline;
			cursor: pointer;
		}
        .accordion::after {
            content: '';
            height: 12px;
            width: 12px;
            right: 8px;
            position: absolute;            
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='Group_20076' data-name='Group 20076' width='12.428' height='13' viewBox='0 0 12.428 13'%3E%3Cg id='Group_17085' data-name='Group 17085' transform='translate(5.903)'%3E%3Cline id='Line_584' data-name='Line 584' y2='13' fill='none' stroke='currentColor' stroke-width='1'%3E%3C/line%3E%3C/g%3E%3Cg id='Group_17086' data-name='Group 17086' transform='translate(0 6.379) rotate(-90)'%3E%3Cline id='Line_584-2' data-name='Line 584' y2='12.428' fill='none' stroke='currentColor' stroke-width='1'%3E%3C/line%3E%3C/g%3E%3C/svg%3E");

        }
        .accordion.active::after {
            content: '';
            height: 12px;
            width: 12px;
            right: 8px;
            position: absolute;           
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='Group_20079' data-name='Group 20079' width='12.428' height='13' viewBox='0 0 12.428 13'%3E%3Cg id='Group_17085' data-name='Group 17085' transform='translate(5.903)' opacity='0'%3E%3Cline id='Line_584' data-name='Line 584' y2='13' fill='none' stroke='currentColor' stroke-width='1'%3E%3C/line%3E%3C/g%3E%3Cg id='Group_17086' data-name='Group 17086' transform='translate(0 6.379) rotate(-90)'%3E%3Cline id='Line_584-2' data-name='Line 584' y2='12.428' fill='none' stroke='currentColor' stroke-width='1'%3E%3C/line%3E%3C/g%3E%3C/svg%3E");

        }     
        

        .child::after {
            content: '';
            height: 12px;
            width: 12px;
            left: 90%;
            position: absolute;
        }
        .child.active::after {
            content: '';
            height: 12px;
            width: 12px;
            left: 90%;
            position: absolute;
        }

        .child-body {
            display: block;
        }

        .child-body.hidden {
            display: none;
        }

        .accordion-body {
            visibility: visible;
            transition: max-height 0.5s ease-out;
            max-height: 1000px;
			margin-bottom: 0;
			padding-bottom: 0.5rem;
			overflow: hidden;
        }
		.accordion-body.moreItems {
			max-height: 3000px;
		}
        .accordion-body.hidden {
            display: block;
            max-height: 0;
            visibility: hidden;
            margin-bottom: 0;
            border-bottom: 0;
			padding: 0; 
        }
        .clp-nav-item-warp .clp-nav-item:last-child,
        .clp-filters-item-wrap .clp-filters-item:last-child{
        	border-bottom: 1px solid #e6e6e6;
        }
        .clp-filters-item-wrap .checkbox{
        	    margin-bottom: 0;
        }
        .clp-selected-filters-wrap .clp-selected-filter{
        	border:1px solid transparent;
        }
        .clp-selected-filters-wrap .clp-selected-filter:hover{
        	border-color:#A2A2A2;
        }
        .checkbox input:checked ~ .checkmark {
		    color: #fff;
		    background-color: #0074f3;
		    border-color: #0074f3;
		}
        @media (max-width: 767px) {
		.clp-filters-item-wrap {
			max-height: calc(100vh - 350px);
			overflow-y: auto;
			overflow-x: hidden;
		}
		.mob-filter-close {
			bottom: 0;
		}
		.accordion-body.hidden li {
			max-height: 0px;
			padding: 0;
			margin: 0;
			opacity: 0;
		}
		.left-filter.hidden {			
			position: fixed;
			width: 100%;
			height: 100%;
			opacity: 0;
			-webkit-transform: translateY(100%);
			transform: translateY(100%);
			transition-timing-function: ease-in;
			transition: .3s;
			display: block;
			overflow: scroll;
			height: calc(100vh - 100px);
		}
		body.mob-shopBy-open .left-filter.hidden,
		body.mob-filters-open .left-filter.hidden {
			z-index: 102;
			margin-top: 0;
			transition: .3s;
			transition-timing-function: ease-out;
			-webkit-transform: translateY(0);
			transform: translateY(0);
			opacity: 1;
			top: 96px;			
		}
		body.mob-shopBy-open,
		body.mob-filters-open{
			overflow:hidden;
		}
		body.mob-shopBy-open .clp-main-wrap:after,
		body.mob-filters-open .clp-main-wrap:after{
			content: '';
		    background-color: rgba(0, 0, 0, .24);
		    height: 100%;
		    width: 100%;
		    position: fixed;
		    top: 0;
		    z-index: 11;
		    left: 0;
		    backdrop-filter: blur(6px);
		    -webkit-backdrop-filter: blur(6px);
		}
		.clp-nav-wrap,
		.clp-filters-wrap{
			display:none;
		}
		body.mob-shopBy-open .clp-nav-wrap,
		body.mob-filters-open .clp-filters-wrap{
			display:block;
		}
		.clp-nav-item-warp .clp-nav-item:first-child,
        .clp-filters-item-wrap .clp-filters-item:first-child{
        	border-top: 0;
        }
        .clp-selected-filters-wrap{
        	top:60px;
        }
        .sortDropDown {
       	    opacity: 0;
        }
	}
       
	