p.nav-promo-tiered-pricing { 
	background-image: url("https://www.westerndigital.com/content/dam/store/en-us/assets/business/icons/icon-tiered-pricing-53.png");
	background-repeat: no-repeat;
	padding-left: 67px; padding-top: 5px;
	min-height: 60px; }