/* styles/fonts.css — brand faces, loaded by loadFonts() (never from head.html).
   Roboto 400/500/700 latin, self-hosted from the source's own harvested woff2
   (static.westerndigital.com roboto-v18-latin-*); open license (Apache 2.0) — fonts/LICENSING.md.
   The metric-matched roboto-fallback faces live in styles.css (first paint). */
@font-face {
  font-family: roboto;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto Regular'), local('Roboto-Regular'), url('/fonts/roboto-400.woff2') format('woff2');
}

@font-face {
  font-family: roboto;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Roboto Medium'), local('Roboto-Medium'), url('/fonts/roboto-500.woff2') format('woff2');
}

@font-face {
  font-family: roboto;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Roboto Bold'), local('Roboto-Bold'), url('/fonts/roboto-700.woff2') format('woff2');
}
